@font-face{
  font-family: Cairo;
  src: url(/Cairo-VariableFont_slnt,wght.ttf);
}

.mm{
  text-align: right;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}

.divider{
  height: 7px;
  background-color: rgb(0, 183, 255);
  margin: 10px auto;
  width: 50%;
}

.mainContainer{
  margin: 10px;
  overflow: hidden;
  position: relative;
  background: #3333;
  text-align: center;

}

.mainContainer .container{
  padding: 40px 0;
  position: relative;
  margin-top: 10px;
}

.mainContainer .container img{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

/*  */

.desc{
  position: absolute;
  /* right: 0; */
  height: 50%;
  text-align: center;
  z-index: 10;
  padding: 10px;
  width: 100%;
}

.desc h4{
  color: #FFFFFF;
  display: block;
}


.mySwiper img{
  filter:brightness(50%);
}

#who{
  /* height: 100vh; */
  padding: 10px;
  margin: 0 auto;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 50px;
}

.content .element{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.content .element .icon {
  color: #111111;
  font-size: 40px;
  color: rgb(30, 127, 255);
}

#Footer{
  width: 100%;
  text-align: center;
  height: 40vh;
  background-color: rgb(0, 183, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
}

#Footer .el{
  flex: 1;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#dv{
  background-color: rgb(0, 183, 255);
  height: 10vh;
  color: #FFFFFF;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
}

.iconContact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 10vh;
  /* background-color: #111111; */
}

.iconContact a img{
  /* display: inline-block; */
  width: 100px;
  height: 100px;
}

.secondTopBar{
  position: fixed;
  top:56px;
  width: 100%;
  z-index: 1111;
  background: #333333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondTopBar a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
}

/* / */
.containerCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  height: 100%;
  /* background-color: #111111; */
}
.card{
  flex: 1;
  height: 500px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card .contentCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card .contentCard img{
  height: 20%;
  width: auto;
}

.containerCard .card .contentCard a{
  text-decoration: none;
  background-color: green;
  color: #FFFFFF;
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

/*  */

.explainbrand{
  margin-top: 100px;
}

.explainbrand img{
  height: auto;
  width: 100%;
}

/*  */

.pcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pcard img{
  width: 100%;
  height: auto;
}